<a [routerLink]="'/add-ticket'">ADD TICKET</a>
<!-- <a [routerLink]="'/display-bookmarks'">BOOKMARKS</a> -->

@if (tickets$ | async; as tickets) {
	<table>
	  <thead>
		<tr>
		  <th>Ticket</th>
		  <th>Issue</th>
		  <th>OpenedBy</th>
		  <th>Date</th>
          <th>Status</th>
          <th>ResolvedBy</th>
          <th>Resolution</th>
		</tr>
	  </thead>
	  <tbody>
		@for (ticket of tickets; track ticket.id) {
		  <tr>
			<td>{{ ticket.id }}</td>
			<td>{{ ticket.issue }}</td>
			<td>{{ ticket.openedBy }}</td>
			<td>{{ ticket.date }}</td>
			<td>{{ ticket.status }}</td>
			<td>{{ ticket.resolvedBy }}</td>
			<td>{{ ticket.resolution }}</td>


			<td>
				<!-- this component exist inside of a router outlet,
				if you decide to use the routerLink directive, you will,
				you will be default be using a subroute, ie, it will ALWAYS
				include book/ first because THIS COMPONENT already 
				exist inside of a router outlet -->
				<button (click)="routeToTicket(ticket.id)">Details</button>
			</td>
			<td>
				<button (click)="updateTicket(ticket.id, ticket)">Update Ticket</button>
			</td>
			<td>
				<button (click)="deleteTicket(ticket.id)">🗑️</button>
			</td>
			<td>
				<button (click)="addBookmark(ticket.id, 'Angela')">🔖</button>
			</td>
		  </tr>
		}
	  </tbody>
	</table>
  } @else { 
	<div>
	  <h2>Loading tickets...</h2>
	</div>
  }
