:host {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #3d3551;
    font-family: "Courier New", monospace;
    color: #f1fa3c;
    font-size: 1.5rem;
    line-height: 2.5;
    padding: .25rem
    
  }


  button {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
    background-color: #c355f5;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;

    
  }

  a {
    text-decoration: underline;
    color: #c355f5;
    cursor: pointer;
    font-family: "Courier New", monospace;
    font-size: 2rem;
    align-items: center;


    &:visted {
      color: rgb(201, 28, 201);
    }

    &:hover {
      color: #f1fa3c
    }
  }

